body{
    background-color: aliceblue;
    /* border: 1px solid black; */
    
}

h1{
    color: maroon;
}

.post{
    background-color: floralwhite;
}

.user{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

