body{
    background-color: rgb(118, 118, 223);
}

table,
th, td, tr{
    border: 3px solid black;
}


th{
    background-color:aqua;
}
td{
    background-color: hotpink;
}

button{
    background-color:rgb(187, 39, 88);
    padding: 0.8rem;
    font-size: 0.8rem;
}
